*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
#main{
    width: 100%;
    min-height: 80vh;
    background-image: url("https://d2m3nfprmhqjvd.cloudfront.net/blog/20230522183738/BMW-M340i-1160x653.webp");
    background-size: cover;
    background-position: center;
}
.top{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    font-family: "Roboto Slab", sans-serif;
    font-size: 10px;
    /* font-weight: bold; */
    justify-content: space-evenly;
    padding: 35px;
}
.newhr{
    border: 1px solid lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-width: 60%; */
    /* width: 90%; */
    /* margin: 8px; */
    

}